@import url('./views/welcome-view.css');
@import url('./views/sign-up-view.css');
@import url('./views/log-in-view.css');
    [theme~="dark"] {
      --lumo-base-color: hsl(214, 26%, 0%);
      --lumo-primary-color: hsl(214, 66%, 20%);
      --lumo-primary-color-50pct: hsla(214, 66%, 20%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 66%, 20%, 0.1);
      --lumo-primary-text-color: hsl(214, 100%, 99%);
      --lumo-body-text-color: hsla(214, 11%, 98%, 0.9);

    }
